.card
  .header
    %h4.title= link_to person.full_name, person
    - if person['vip']
      %p.category VIP
  .content
    - if person.try(:roles)
      %ul.list-unstyled.team-members
        - person.roles.select(&:active?).each do |role|
          %li
            = role.title
            %br/
            = link_to role.organization.name, role.organization
    .footer
      %hr/
      .stats
        %i.ti-timer
        = person.updated_at
