%footer.footer
  .container-fluid
    %nav.pull-left
      %ul
        %li= link_to 'Melanie', :root
        / TODO Create help section
        %li= link_to 'help', :root
    %p.copyright.pull-right
      &copy; 2016
      %a{:href => "http://ian.com"} Ian
